table {
    margin: auto;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #353b3c;
    border-collapse: collapse;
    color: #353b3c;
}

th, td {
    background-color: #EEF0F2;
    padding: 10px;
    min-width: 180px;
}

th {
    text-align: left;
}