<td>
    <textarea placeholder="Enter name"
        (input)="inputUpdated()"
        [(ngModel)]="name"
    ></textarea>
</td>
<td>
    <textarea placeholder="Enter description"
        (input)="inputUpdated()"
        [(ngModel)]="description"
    ></textarea>
</td>
<td>
    <input type="checkbox"
        (change)="inputUpdated()"
        [(ngModel)]="isPartFunded"
    >
</td>
<td class="dropdown">
    <app-multiselect #subjectMultiselect></app-multiselect>
</td>
<td class="dropdown">
    <app-multiselect #studentMultiselect></app-multiselect>
</td>
<td class="cancel-add-button" (click)="cancelAdd()">
    ✕
</td>
