<table>
    <tr>
        <th>Name</th>
        <th class="course-desc-column">Description</th>
        <th>Course</th>
        <th class="delete-column">Delete</th>
    </tr>
    <tr *ngFor="let row of rows">
        <td>{{row.name}}</td>
        <td class="course-desc-column">{{row.description}}</td>
        <td>
            <ul>
                <li *ngFor="let courseSubject of row.courseSubject">
                    {{courseSubject.course.name}}
                </li>
            </ul>
        </td>
        <td class="delete-column">
            <input type="checkbox" 
                #deleteCheck
                (change)="select(row.id, $event)"
            >
        </td>
    </tr>
</table>