<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Funding</th>
        <th>Subjects</th>
        <th class="delete-column">Delete</th>
    </tr>
    <tr>
        <td>Maths</td>
        <td>Numbers and stuff</td>
        <td>Yes</td>
        <td>
            <ul>
                <li>
                    Trigonometry
                </li>
                <li>
                    Graphs
                </li>
                <li>
                    Statistics
                </li>
            </ul>
        </td>
        <td class="delete-column"><input type="checkbox"></td>
    </tr>
</table>