<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Funding</th>
        <th>Subjects</th>
        <th class="delete-column">Delete</th>
    </tr>
    <tr *ngFor="let row of rows">
        <td>{{row.name}}</td>
        <td>{{row.description}}</td>
        <td>{{row.isPartFunded ? "Yes" : "No"}}</td>
        <td>
            <ul>
                <li *ngFor="let subject of row.courseSubject">
                    {{subject.subject.name}}
                </li>
            </ul>
        </td>
        <td class="delete-column"><input type="checkbox"></td>
    </tr>
</table>